
#title {
  font-weight: bold;
  text-align: center;
  font-family: helvetica, arial;
  color: white;
  font-size: 9em;
  padding: 0.8em 0.4em 0.3em 0.4em;

}

#sub-title {
  max-width: 100%;
  padding: 0 16% 0 16%;
  text-align: center;
  font-family: helvetica, arial;
  color: white;
  font-size: 1.8em;
  line-height: 1.4em;
}



#btn-custom {
  text-align: center;
  font-size: 1.0em;
  padding: 1.5% 4% 1.5% 4%;
  margin: 1.7em auto;
  width: 20%;
  border:2px solid;
  border-radius:10px;
  background-color: hsl(0, 0%, 79%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134134134", endColorstr="#c9c9c9");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#134134134), to(#c9c9c9));
  background-image: -moz-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -ms-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #134134134), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -o-linear-gradient(top, #134134134, #c9c9c9);
  background-image: linear-gradient(#134134134, #c9c9c9);
  border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
  -webkit-font-smoothing: antialiased;
}

#btn-custom a {
  text-decoration:none;
  color: #484848;
  font-size:2em;
}

#text-container {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  z-index: 3;

}

#gray-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 40em;
  height: 40em;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

#rainbow-container {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 40em;
  height: 40em;
  z-index: 1;
}

.red, .orange, .yellow, .green, .blue, .purple {
  min-width: 16.66%;
  width: 16.66%;
  float: left;
  min-height: 100%;
  height: 100%;
}

.red {
  background-color:#D40202;
  min-height: 100%;
  height: 100%;
  }

.orange {
  background-color:#D46502;
  min-height: 100%;
  height: 100%;
}

.yellow {
  background-color:#D4A102;
  min-height: 100%;
  height: 100%;
}

.green {
  background-color:#399905;
  min-height: 100%;
  height: 100%;
}

.blue {
  background-color:#3cafc5;
  min-height: 100%;
  height: 100%;
}

.purple {
  background-color:#520C73;
  min-height: 100%;
  height: 100%;
}
